
body{
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
 #heading {
    background-color: #a683e3;
    text-align: center;
  }
  #heading1 {
      
      padding-bottom: 10px;
    background-color: #a683e3;
    text-align: center;
  }
 .INSPIRE{
    text-align: center;
    font-family: 'Road Rage', cursive;
    padding-top: 5%;
 }
  
 .box {
    max-width: 400px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  .box1 {
    max-width: 400px;
    margin: 50px;
    background: rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  .box2 {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
 .heading{
 font-size: 2rem;
 font-family: 'Road Rage', cursive;
 
 }
 .hed{
     text-align: center;
 }
 .qt{
     padding-top: 5%;
     padding-left: 8%;
     padding-right: 5%;
     padding-bottom: 3%;
     font-family: 'Dongle', sans-serif;
     font-size: 2rem;
     line-height: 20px;
     
     
 }
   
 p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
 .button {
    min-height: 10px;
    width: 90px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #A683E3;
    padding: 5px;
    color: #fff;
    margin-bottom: 5px;

    border-width: 0;
  }
 footer { margin-top: 5%; color: #464242; text-align: center;  }
 
 @media screen and (max-width: 520px) {
   
     .box1{
         
         width: 85%;
     }
     .heading{
     font-size: 1.3em;
     }
   
     }